{
  "parser": "babel-eslint",
  "extends": ["standard"],
  "plugins": ["standard", "import"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.spec.js"]
      }
    ]
  }
}