# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

#Bower dependencies
public/bower

#data
data

#sass-cache
.sass-cache

#DS_Store
.DS_Store

#debug
npm-debug.log