extends layout

block content
  app
  script(src="/socket.io-client/socket.io.js")
  if env === 'development'
    script(src="http://localhost:8888/webpack-dev-server.js")
    script(src="http://localhost:8888/public/bundle.js")
  else
    script(src="/bundle.js")