extends layout

block content
	#mask
	.modal#key-modal.animated.active-modal
		.modal-header
			h1#headline Taskmastr
		.modal-body#key-ask
			| Do you have a key? 
			br/
			br/
			| If so, input it below, and if not go ahead and create one!
			br/
			br/
			.prompt-line#key-line
				input.prompt#key(type="password", name="key", ng-model="user.key", input-key)
				i.fa.fa-arrow-right.submit#key-button(key-button)
			br/
			br/
			#tips-button.button
				| Tips:
			.fine-print
				br/
				| &rarr; Make your key unique and preferably nonsensical. This is how we store your tasks for the future!
				br/
				| &rarr; Use the return key (&#8617;) to save text fields.
				br/
				| &rarr; There is no undo but simply don't save your changes.
				br/
				| &rarr; You can rename a task by double-clicking it.
				br/
				| &rarr; The plug icon toggles dark mode, which is also stored for future visits.
				br/
				| &rarr; CMD+Down Arrow (&#8984;&darr;) acts as a shortcut for saving your data.
	.container
		#todo-prompt What needs doing?
			input.check(type="checkbox", ng-model="user.darkmode", ng-checked="user.darkmode")
			i#dark-mode.fa.fa-plug(value="{{user.darkmode}}", check-button)
		.prompt-line#todo-line
			input.prompt#create-todo(type="text", ng-model="newTodo", create-todo)
			i.fa.fa-arrow-down.submit#todo-button(todo-button)
		table#todo-list
			thead
				tr
					th checkbox
					th name
					th toggle
					th utils
			tbody(ng-sortable="sortableOptions", ng-model="user.todos")
				tr.todo.repeat-animation(ng-repeat="todo in user.todos", ng-class="{complete: todo.complete}", value="{{todo.item}}" name="todo{{$index + 1}}")
					th
						input.check(type="checkbox", ng-checked="todo.complete", ng-model="todo.complete", complete)
						i.fa(ng-class="todo.complete ? 'fa-check-circle-o' : 'fa-circle-o'", check-button)
					td.todo-cell
						input.rename(type="text", style="display:none", value="{{todo.item}}", ng-model="todo.item")
						span.name {{todo.item}}
					td.toggle
						i.fa.fa-bullseye(mobile-button)
					td.utils
						i.fa.fa-bars
						i.fa.fa-pencil
						i.fa.fa-trash-o(ng-click="delete($index)")
		#save-button.button(ng-class="{'toggled': saveButton}", save) Save
