extends layout

block content
	#mask(ng-if="!user.todos")
	.modal#key-modal.animated(ng-if="!user.todos")
		.modal-header
			h1#headline Taskmastr
		.modal-body#key-ask(ng-if="!resetForm")
			| Do you have an account? 
			br/
			br/
			| If so log in now, or create one below!
			form(id="user-form", name="userForm", novalidate, login-form)
				.error-text
					label(for="user", ng-show="userForm.username.$error.required && !userForm.username.$error.pattern && formAttempt")
						| Email address required
					label(for="user", ng-show="userForm.username.$error.pattern && !userForm.username.$error.required && formAttempt")
						| Invalid email address
					label(for="user", ng-show="emailSent === false && forgot && !userForm.username.$error.required && !userForm.username.$error.pattern")
						| That username doesn't exist
					label(for="user", ng-show="emailSent === true && forgot")
						| Check your email for instructions on how to reset your password.
				.prompt-line#user-line
					input.prompt#user(type="text", name="username", ng-model="user.username", placeholder="Email", ng-required="true", ng-class="{tried: loginAttempt && formAttempt, 'invalid-user': emailSent === false && forgot}", ng-pattern="/^([0-9a-zA-Z]+[-._+&])*[0-9a-zA-Z]+@([-0-9a-zA-Z]+[.])+[a-zA-Z]{2,6}$/")
					button.fa.fa-arrow-right.submit#forgot-button(type="submit", ng-show="forgot")
				.error-text(ng-show="!forgot")
					label(for="key", ng-show="userForm.key.$invalid && formAttempt && !invalidPassword && !forgot")
						| Password required
					label(for="key", ng-show="invalidPassword")
						| Invalid password
				.prompt-line#key-line(ng-show="!forgot")
					input.prompt#key(type="password", name="key", ng-model="user.key", placeholder="Password", ng-required="true", ng-class="{tried: formAttempt && loginAttempt && !forgot, 'invalid-password': invalidPassword, disabled: forgot}")
					button.fa.fa-arrow-right.submit#key-button(type="submit", ng-hide="confirmPassword")
				.error-text
					label(for="confirm", ng-show="confirmPassword && userForm.confirm.$error.required && !userForm.confirm.$error.pwmatch") 
						| No user found. Please confirm your password.
					label(ng-show="userForm.confirm.$error.pattern")
						| Passwords don't match.
				.prompt-line#confirm-line(ng-show="confirmPassword", confirm-password)
					input.prompt#confirm(type="password", name="confirm", ng-model="user.confirm", placeholder="Password", ng-required="confirmPassword", ng-pattern="user.key", ng-class="{tried: confirmAttempt && userForm.confirm.$error.pattern, 'invalid-password': confirmAttempt && userForm.confirm.$error.pattern}")
					button.fa.fa-arrow-right.submit#confirm-button(type="submit")
				#remember
					input.check#remember-me(name="rememeber-me", type="checkbox", ng-model="rememberMe", ng-checked="rememberMe")
					i.fa(ng-class="rememberMe ? 'fa-check-square-o' : 'fa-square-o'", check-button)
					label(for="remember-me") Remember me
				#forgot-password
					input.check#forgot(name="forgot", type="checkbox", ng-model="forgot", ng-checked="forgot")
					i.fa(ng-class="forgot ? 'fa-check-square-o' : 'fa-square-o'", check-button)
					label(for="forgot") Forgot your password?
			#tips-button.button(tips-button)
				| Tips:
			ul.fine-print
				li &rarr; The tips have been replaced with a wiki!
				li &rarr; Click the map #[a(href="https://bitbucket.org/patrickfatrick/taskmastr/wiki/Home" target="_blank") #[i.fa.fa-map-o]] to view it
				li &rarr; You can also access the wiki any time from the lists menu inside the app
		.modal-body#reset-form(ng-if="resetForm")
			| Go ahead and create your new password below
			form(id="reset-form", name="resetForm", novalidate, reset-Form)
				.error-text
					label(ng-show="resetForm.confirmReset.$error.pattern")
						| Passwords don't match.
					label(ng-show="resetFail")
						| This reset link is no longer valid. Please close this window and try again.
				.prompt-line#reset-key-line
					input.prompt#reset-key(type="password", name="keyReset", ng-model="user.newKey", placeholder="Password", ng-required="true", ng-class="{tried: formAttempt, 'invalid-password': resetFail}")
				.prompt-line#reset-confirm-line
					input.prompt#reset-confirm(type="password", name="confirmReset", ng-model="user.confirm", placeholder="Password", ng-required="true", ng-pattern="user.newKey", ng-class="{tried: resetForm.confirmReset.$error.pattern, 'invalid-password': resetForm.confirmReset.$error.pattern || resetFail}")
					button.fa.fa-arrow-right.submit#reset-button(type="submit")
			#tips-button.button(tips-button)
				| Tips:
			ul.fine-print
				li &rarr; Hey next time store your password somewhere, guy.
	#menu
		a(href="https://bitbucket.org/patrickfatrick/taskmastr/wiki/Home", target="_blank")
			i#wiki.fa.fa-map-o
		input.check(type="checkbox", ng-model="user.darkmode", ng-checked="user.darkmode")
		i#dark-mode.fa(value="{{user.darkmode}}", check-button, ng-class="user.darkmode ? 'fa-sun-o' : 'fa-moon-o'")
		#list-headline Lists
		form.prompt-line#list-line(name="listForm", novalidate)
			input.prompt#create-list(type="text", name="listInput", ng-class="{tried: listForm.listInput.$error.required && listAttempt}", ng-required="true", ng-model="newList", placeholder="New list", create-todo)
			button.fa.fa-plus.submit#list-button(type="submit", todo-button="user.todos", todo-model="newList")
		table#lists-list
			thead
				tr
					th name
					th utils
			tbody(ng-sortable="sortableOptions", ng-model="user.todos")
				tr.repeat-animation(ng-repeat="list in user.todos", ng-class="{current: user.current.list === list.list}", data-agenda-id="{{list.agendaID}}")
					th
					td.todo-cell(ng-click="setCurrent(user.todos, $index)")
						input.rename(type="text", style="display:none", value="{{todo.item}}", ng-model="list.list")
						span.name {{list.list}}
					td.utils
						i.fa.fa-arrows-v.sort
						i.fa.fa-pencil.rename-button
						i.fa.fa-trash-o.delete-button(delete-button="user.todos", delete-index="list.agendaID")
		#logout-container
				#logout(ng-show="user.todos", ng-click="logout()")
					i.fa.fa-power-off#power-off
					label(for="power-off") Log out
	#content
		.container
			#icon-menu(menu-toggle)
				i.fa.fa-bars
			#todo-prompt What needs doing?
			form.prompt-line#todo-line(name="todoForm", novalidate)
				input.prompt.random-placeholder#create-todo(type="text", name="todoInput", ng-class="{tried: todoForm.todoInput.$error.required && todoAttempt}", ng-required="true", ng-model="newTodo", placeholder="New task", create-todo)
				button.fa.fa-arrow-down.submit#todo-button(type="submit", todo-button="user.current.items", todo-model="newTodo")
			i#loading.fa.fa-cog.fa-spin(ng-class="{hidden: !user.key || user.todos}")
			table#todo-list(ng-class="{hidden: !user.todos}")
				thead
					tr
						th checkbox
						th name
						th toggle
						th utils
				tbody(ng-sortable="sortableOptions", ng-model="user.current.items")
					tr.todo.repeat-animation(ng-repeat="todo in user.current.items", ng-class="{complete: todo.complete, active: todo.current}", value="{{todo.item}}" name="todo{{$index + 1}}", data-agenda-id="{{todo.agendaID}}")
						th
							input.check(type="checkbox", ng-checked="todo.complete", ng-model="todo.complete", complete="user.current.items", complete-index="$index")
							i.complete.fa(ng-class="todo.complete ? 'fa-check-circle-o' : 'fa-circle-o'", check-button)
						td.todo-cell(ng-click="setCurrent(user.current.items, $index)")
							input.rename(type="text", style="display:none", value="{{todo.item}}", ng-model="todo.item")
							span.name {{todo.item}}
						td.utils
							input.datepicker-input(type="text", name="datepicker", ng-model="todo.dueDate", value="{{todo.dueDate}}", ui-date="datepickerOptions", ng-disabled="todo.complete", ng-readonly="true")
							i.fa.datepicker-toggle(ng-class="{active: todo.dueDate, 'fa-calendar-check-o': todo.dueDate, 'fa-calendar-plus-o': !todo.dueDate}", datepicker-toggle="user.current.items", datepicker-index="$index")
							i.fa.fa-arrows-v.sort
							i.fa.fa-pencil.rename-button
							i.fa.fa-trash-o.delete-button(delete-button="user.current.items", delete-index="todo.agendaID")
			#save-button.button(ng-if="saveButton", save) Save
