doctype html
html(ng-app="taskmastrApp")
	head
		title= title
		meta(name="viewport", content="initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", href="/stylesheets/styles.css")
		script(type="text/javascript", src="/javascripts/script.js")
	body(ng-controller="UserController as user", ng-class="{'dark-mode': user.darkmode}")
		block content
