doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1, maximum-scale=1")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="default")
		base(href="/")
		link(rel="apple-touch-icon", href="../images/iphone-icon.png")
		link(rel="mask-icon", href="../images/pinned-icon.svg", color="#00B0FF")
		link(rel="icon", type="x-icon", href="../images/favicon.ico")
		link(rel="stylesheet", href="/dist/stylesheets/styles.css")
		script(src="https://use.fontawesome.com/28e16d26cd.js")
	body
		block content