doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/styles.css')
		// Comment out libraries for production
		script(type='text/javascript', src='/bower/jquery/dist/jquery.min.js')
		script(type='text/javascript', src='/bower/jquery-ui/jquery-ui.min.js')
		script(type='text/javascript', src='/bower/lodash/lodash.min.js')
		script(type='text/javascript', src='/bower/angular/angular.min.js')
		script(type='text/javascript', src='/bower/angular-route/angular-route.min.js')
		script(type='text/javascript', src='/bower/md5-min.js')
		script(type='text/javascript', src='/javascripts/script.js')
	body
		block content
