#content {
	//@include outer-container;
	height: 100%;
	@include transition(margin-left 200ms ease-out);
}

#content.menued {
	@include media(min-width $medlarge) {
		margin-left: 250px;
	}
}

.container {
	@extend html;
	position: initial;
	padding-top: 10%;
	padding-bottom: 20%;
	overflow: scroll;
	@include center;
	/*@include span-columns(12);
	@include media(min-width $medium) {
			@include span-columns(6);
			@include shift(3);
		}*/
	@include media(min-width $medlarge) {
		position: relative;
	}
}

.container#four-oh-four {
	h1 {
		padding-bottom: 0.6rem !important;
		font-size: 2rem;
	}
	iframe {
		width: 320px;
		height: 180px;
		@include media(min-width $small) {
			width: 384px;
			height: 216px;
		}
		@include media(min-width $medium) {
			width: 560px;
			height: 315px;
		}
	}
}

#icon-menu {
	position: fixed;
	left: 0;
	top: 4.7rem;
	width: 3rem;
	height: auto;
	background: $orchid;
	padding: 20px 0 20px 0;
	border-radius: 0 20px 20px 0;
	z-index: 3;
	font-size: 1.4rem;
	color: $white;
	@include transition(all 200ms ease-out);
	@include media(min-width $medlarge) {
		top: 100px;
	}
}

#icon-menu.toggled {
	margin-left: 250px;
	@include media(min-width $medlarge) {
		left: 0;
	}
}

#todo-prompt {
	margin-bottom: 10px;
	font-size: 2rem;
	@include media(min-width $medsmall) {
		font-size: 2.5rem;
		width: 60%;
		@include center;
	}
}

#todo-line {
	@include media(min-width $medium) {
		width: 60%;
	}
	#create-todo {
		width: 70%;
		@include media(min-width $medium) {
			width: 89%;
		}
	}
}

#todo-button {
	background: $deepBlue;
	@include button-effect($deepBlue, 2px, 0);
}

#save-button {
	display: none;
	background-color: $deepBlue;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 20px;
	@include button-effect($deepBlue, 22px, 20px);
	&.ng-enter {
		@include animation(bounceIn 300ms);
	}
	&.ng-leave {
		@include animation(bounceOut 300ms);
	}
	&.ng-scope {
		display: block;
	}
}

#loading {
	margin-top: 3rem;
	font-size: 5rem;
}

.hidden {
	display: none !important;
}

table {
	table-layout: auto;
	margin-top: 1rem;
	width: 100%;
	margin-right: 1rem;
	text-align: left;
	@include center;
	@include media(min-width $medium) {
		width: 60%;
	}
	thead {
		display: none;
	}
	tbody {
		tr {
			@include transition(unset);
			&.complete {
				color: $completeGray;
				background: transparent !important;
				font-style: italic;
				td.utils i.datepicker-toggle.active {
					color: $completeGray;
				}
			}
			&.active {
				background-color: $astroTurf !important;
				color: $black;
				&.complete {
					background-color: $grassStain !important;
					color: $completeGray * 0.7;
					td.utils i.datepicker-toggle.active {
						color: $orchid * 0.7;
					}
				}
			}
			&.ghost {
				opacity: .6;
				background-color: $deepBlue !important;
				&.active {
					background-color: $astroTurf !important;
				}
				&.active.complete {
					background-color: $grassStain !important;
				}
				&.complete {
					background-color: transparent !important;
				}
			}
			&.deleting {
				background: $red !important;
				color: $white !important;
				&.active {
					background: $red !important;
				}
				td.utils i.datepicker-toggle.active {
					color: $white;
				}
			}
			&.ng-enter,
			&.ng-enter-active,
			&.ng-leave,
			&.ng-leave-active,
			&.ng-move,
			&.ng-move-active {
				@include transition(unset);
			}
			&.ng-enter {
				@include animation(bounceInLeft 400ms);
			}
			&.ng-leave {
				@include animation(bounceOutLeft 400ms);
			}
			td,
			th {
				padding: 0.5rem;
			}
			th {
				width: 3rem;
			}
			td.todo-cell {
				input.rename {
					line-height: 1.4rem;
					font-size: inherit;
					width: 100%;
					background: transparent;
					border: none;
					border-bottom: 2px solid $oceanBlue;
					@include selection(true) {
						background-color: $deepBlue;
						color: $white;
					}
				}
			}
			i {
				cursor: pointer;
				font-size: 1.4rem !important;
				padding: 0.2rem;
				@include media(min-width $medium) {
					font-size: 1.2rem !important;
				}
			}
			td.utils {
				width: 8.3rem;
				@include media(min-width $medium) {
					width: 7.2rem;
				}
				.sort {
					padding: 0 8px 0 8px;
				}
				.datepicker-toggle.active {
					color: $orchid;
				}
				.datepicker-input {
					background: transparent;
					color: transparent;
					border: none;
					box-shadow: none;
					width: 1px;
					height: 1px;
				}
			}
		}
	}
	&#todo-list {
		display: none;
		&.ng-scope {
			display: table;
		}
	}
}

#ui-datepicker-div {
	background: $white;
	font-family: $raleway;
	font-size: 1rem;
	margin-top: 20px;
	text-transform: lowercase;
	border-radius: 15px;
	@include animation(bounceInDown 300ms);
	box-shadow: rgba(0, 0, 0, 0.30) 0 19px 60px, rgba(0, 0, 0, 0.22) 0 15px 20px;
	@include media(max-width $small) {
		width: 100%;
		left: 0 !important;
	}
	@include media(min-width $medium) {
		margin-left: -165px;
	}
	.ui-datepicker-header {
		background: $orchid;
		font-weight: normal;
		border: none;
		@include border-top-radius(15px);
	}
	.ui-datepicker-prev,
	.ui-datepicker-next {
		&:hover {
			background: transparent;
			color: $deepBlue;
			border: none;
		}
		i {
			font-size: 1.4rem;
			padding-top: 0.3rem;
		}
	}
	.ui-state-default,
	.ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
		background: $white;
		border: none;
		outline: none;
		text-transform: lowercase;
		font-weight: normal;
		&:hover {
			background: $deepBlue !important;
			color: $white !important;
		}
	}
	.ui-datepicker-calendar {
		margin-top: 0.4em;
		@include media(max-width $small) {
			height: 150px;
		}
		th {
			width: 1rem;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		td {
			padding: 0;
		}
		.ui-datepicker-unselectable a {
			color: $oceanBlue;
			background: $white;
		}
		.ui-datepicker-today a {
			color: $white;
			background: $deepBlue;
		}
		.ui-datepicker-days-cell-over a {
			background: $grassStain;
			color: $white;
		}
		.ui-datepicker-current-day a {
			background: $astroTurf !important;
			color: $black !important;
		}
	}
}

.cfp-hotkeys-container {
	font-family: $raleway;
}