#content {
	height: 100%;
	@include single-transition(margin-left, 200ms, ease-out);
}

#content.menued {
	@include susy-breakpoint($medlarge) {
		margin-left: 250px;
	}
}

.container {
	@extend html;
	position: initial;
	padding-top: 10%;
	padding-bottom: 20%;
	overflow: scroll;
	@include center;
	@include susy-breakpoint($medlarge) {
		position: relative;
	}
}

.container#four-oh-four {
	h1 {
		padding-bottom: 0.6rem !important;
		font-size: 2rem;
	}
	iframe {
		width: 320px;
		height: 180px;
		@include susy-breakpoint($small) {
			width: 384px;
			height: 216px;
		}
		@include susy-breakpoint($medium) {
			width: 560px;
			height: 315px;
		}
	}
}

#icon-menu {
	position: fixed;
	left: 0;
	top: 4.7rem;
	width: 3rem;
	height: auto;
	background: $orchid;
	padding: 20px 0 20px 0;
	border-radius: 0 20px 20px 0;
	z-index: 3;
	font-size: 1.4rem;
	color: $white;
	@include single-transition(all, 200ms, ease-out);
	@include susy-breakpoint($medlarge) {
		top: 100px;
	}
}

#icon-menu.toggled {
	margin-left: 250px;
	@include susy-breakpoint($medlarge) {
		left: 0;
	}
}

#todo-prompt {
	margin-bottom: 10px;
	font-size: 2rem;
	@include susy-breakpoint($medsmall) {
		font-size: 2.5rem;
		width: 60%;
		@include center;
	}
	#dark-mode {
		float: right;
		font-size: 1.2rem;
		width: 1.2rem;
		cursor: pointer;
		margin-right: 0.5rem;
	}
}

#todo-line {
	@include susy-breakpoint($medium) {
		width: 60%;
	}
	#create-todo {
		width: 70%;
		@include single-box-shadow(2px, 2px, 0, null, $gray);
		@include susy-breakpoint($medium) {
			width: 89%;
		}
	}
}

#todo-button {
	background: $deepBlue;
	@include button-effect($deepBlue, 2px, 0);
}

#logout {
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: 1rem;
	font-family: $josefin;
	padding: 11px 4px 0px 8px;
	width: 100px;
	cursor: pointer;
	text-transform: lowercase;
	height: 2.5rem;
	border-radius: 20px;
	background-color: $red;
	color: $white;
	&:hover {
		@include background(linear-gradient(($red * 0.9), $red));
	}
	&:active {
		background: $red * 0.9;
	}
	i {
		margin-right: 1rem;
	}
	label {
		cursor: pointer;
	}
}

#save-button {
	display: block;
	background-color: $deepBlue;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 20px;
	@include button-effect($deepBlue, 22px, 20px);
	&.ng-enter {
		@include animation(bounceIn 300ms);
	}
	&.ng-leave {
		@include animation(bounceOut 300ms);
	}
}

#loading {
	margin-top: 3rem;
	font-size: 3rem;
}

.hidden {
	display: none !important;
}

table {
	table-layout: auto;
	margin-top: 1rem;
	width: 100%;
	margin-right: 1rem;
	@include center;
	@include susy-breakpoint($medium) {
		width: 60%;
	}
	thead {
		display: none;
	}
	tbody {
		tr {
			@include single-transition(unset);
			&.complete {
				color: #919191;
				background: transparent !important;
				font-style: italic;
				.datepicker-toggle.active {
					color: #919191;
				}
			}
			&.ghost {
				opacity: .5;
				background-color: $deepBlue !important;
			}
			&.deleting {
				background: $red !important;
				color: $white !important;
				.datepicker-toggle.active {
					color: $white;
				}
			}
			&.ng-enter,
			&.ng-enter-active,
			&.ng-leave,
			&.ng-leave-active,
			&.ng-move,
			&.ng-move-active {
				@include single-transition(unset);
			}
			&.ng-enter {
				@include animation(bounceInLeft 400ms);
			}
			&.ng-leave {
				@include animation(bounceOutLeft 400ms);
			}
			td,
			th {
				padding: 0.5rem;
			}
			th {
				width: 3rem;
			}
			td.todo-cell {
				input.rename {
					line-height: 1.4rem;
					font-size: 1rem;
					width: 100%;
				}
			}
			i {
				cursor: pointer;
				font-size: 1.4rem !important;
				padding: 0.2rem;
				@include susy-breakpoint($medium) {
					font-size: 1.2rem !important;
				}
			}
			td.utils {
				width: 8.3rem;
				@include susy-breakpoint($medium) {
					width: 7.2rem;
				}
				.sort {
					padding: 0 8px 0 8px;
				}
				.datepicker-toggle.active {
					color: $orchid;
				}
				.datepicker-input {
					background: transparent;
					color: transparent;
					border: none;
					box-shadow: none;
					width: 1px;
					height: 1px;
				}
			}
		}
	}
}

#ui-datepicker-div {
	background: $white;
	font-family: $raleway;
	font-size: 1rem;
	margin-top: 20px;
	text-transform: lowercase;
	@include border-radius(15px);
	@include animation(bounceInDown 300ms);
	@include susy-breakpoint(0px $small) {
		width: 100%;
		left: 0 !important;
	}
	@include susy-breakpoint($medium) {
		margin-left: -165px;
	}
	.ui-datepicker-header {
		background: $orchid;
		font-weight: normal;
		border: none;
		@include border-radius(15px 15px 0 0);
	}
	.ui-datepicker-prev,
	.ui-datepicker-next {
		&:hover {
			background: transparent;
			color: $deepBlue;
			border: none;
		}
		i {
			font-size: 1.4rem;
			padding-top: 0.3rem;
		}
	}
	.ui-state-default,
	.ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
		background: $white;
		border: none;
		outline: none;
		text-transform: lowercase;
		font-weight: normal;
		&:hover {
			background: $deepBlue !important;
			color: $white !important;
		}
	}
	.ui-datepicker-calendar {
		margin-top: 0.4em;
		@include susy-breakpoint(0px $small) {
			height: 150px;
		}
		th {
			width: 1rem;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		td {
			padding: 0;
		}
		.ui-datepicker-unselectable a {
			color: $oceanBlue;
			background: $white;
		}
		.ui-datepicker-today a {
			color: $white;
			background: $deepBlue;
		}
		.ui-datepicker-current-day a {
			background: $astroTurf;
			color: $black;
		}
	}
}