html {
	width: 100%;
	height: 100%;
}

body {
	@extend html;
	text-align: center;
	font-family: $cardo;
	font-size: 1rem;
	@include media(min-width $small) {
		font-size: 1.4rem;
	}
}

.hidden {
	display: none !important;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 1;
  background-color: $deepBlue !important;
  color: $white !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  box-shadow: rgba(0, 0, 0, 0.3) 0 10px 30px, rgba(0, 0, 0, 0.22) 0 5px 10px;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  background-color: $deepBlue;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

#app-container {
	@extend html;
	color: $black;
	@include transition(all 2s ease-out); 
	@include background(linear-gradient($nightDark, $nightLight, $orchid, $sunglow, $brightDark, $brightLight));
	background-position: bottom;
	background-size: auto 500%;
	#todo-line #create-todo {
		&:focus {
			border-color: $sunray;
		}
	}
	.table .table-row {
		&.active {
			background-color: $sunray;
		}
		&.active.complete {
			background-color: $rust;
		}
	}
	&.darkmode {
		background-position: top;
		color: $white;
		#todo-line #create-todo {
			&:focus {
				border-color: $astroTurf;
			}
		}
		.table .table-row {
			&.active {
				background-color: $astroTurf;
			}
			&.active.complete {
				background-color: $grassStain;
			}
		}
	}
	.view {
		@extend html;
	}
}

input[type='text'],
input[type='password'] {
	outline: none;
	font-family: $raleway;
	color: inherit;
	font-size: 1.4rem;
	line-height: 1.8rem;
	@include media(min-width $medium) {
		font-size: 2rem;
		line-height: 2.4rem;
	}
}

h1 {
	font-size: 2.5rem;
	line-height: 3rem;
	margin-bottom: 0.5rem;
}

h2 {
	font-size: 1.8rem;
	line-height: 2rem;
	margin-bottom: 0.5rem;
}

button {
  border: none;
  outline: none;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
	&:focus,
	&:visited,
	&:active {
		text-decoration: none;
		color: inherit;
	}
}

.prompt-line {
	white-space: nowrap;
	text-align: right;
	margin-bottom: 1rem;
	@include center;
	@include media(min-width $small) {
		text-align: center;
	}
	.prompt {
		width: 100%;
		padding: 1px 0.5rem;
		border: none;
		border-radius: 0;
		border-bottom: 4px solid $slateGray;
		background: transparent;
		@include selection {
			background: $deepBlue;
			color: $white;
		}
		@include transition(border-color 500ms ease-out);
		&.ng-invalid.tried,
		&.invalid {
			border-color: $sunsetOrange;
			@include animation(rubberBand 500ms);
		}
		&.disabled {
			background-color: $azure;
		}
		@include placeholder {
			color: $slateGray;
		}
		&:focus {
			border-color: $deepBlue;
		}
	}
	button.submit {
		font-size: 1.8rem;
		width: 2.4rem;
		position: relative;
		margin-left: 0.5rem;
		cursor: pointer;
		color: $white;
		background: $orchid;
		border-radius: 50%;
		padding: 1px 3px 3px 4px;
		border: none;
		outline: none;
		@include button-effect($orchid, 2px, 0);
	}
}

.button {
	background: $orchid;
	color: $white;
	font-family: $josefin;
	font-size: 2rem;
	text-transform: lowercase;
	position: relative;
	width: 100px;
	height: 2.5rem;
	padding: 2px 4px 2px 7px;
	cursor: pointer;
	border: 0;
	outline: 0;
	border-radius: 20px;
	@include center;
	@include button-effect($orchid, 2px, 0);
}

.check {
	left: -10000px;
	position: absolute;
}
