body {
	text-align: center;
	color: $black;
	font-family: $merriweather;
	font-size: 1.4rem;
}

body.dark-mode {
	background: dimgray;
	color: $white;
}

strong {
	font-weight: bold;
}

input[type='text'],
input[type='password'] {
	outline: none;
}

.prompt-line {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	.prompt {
		width: 80%;
		line-height: 3rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		font-family: $lora;
		font-size: 2rem;
	}
	i.submit {
		font-size: 1.8rem;
		position: relative;
		//top: 0.6rem;
		margin-left: 0.5rem;
		cursor: pointer;
		color: $white;
		background: $orchid;
		border-radius: 50%;
		padding: 4px 7px 6px 8px;
		@include button-effect($orchid);
	}
}

.button {
	background: $orchid;
	color: $white;
	font-family: $josefin;
	font-size: 2rem;
	text-transform: lowercase;
	position: relative;
	width: 100px;
	height: 2.5rem;
	padding: 5px 4px 5px 9px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	@include border-radius(20px);
	@include button-effect($orchid);
}

.check {
	left: -10000px;
	position: absolute;
}