table {
	table-layout: auto;
	margin-top: 1rem;
	text-align: left;
	@include center;
	thead {
		display: none;
	}
	tbody {
		tr {
			@include transition(unset);
			&:hover {
				background-color: $deepBlue;
			}
			&.complete {
				color: $completeGray;
				background: transparent !important;
				font-style: italic;
				td.utils i.datepicker-toggle.active {
					color: $completeGray;
				}
			}
			&.active {
				background-color: $astroTurf !important;
				color: $black;
				&.complete {
					background-color: $grassStain !important;
					color: $completeGray * 0.7;
					td.utils i.datepicker-toggle.active {
						color: $orchid * 0.7;
					}
				}
			}
			&.gu-mirror {
			  position: fixed !important;
			  margin: 0 !important;
			  z-index: 9999 !important;
			  opacity: 0.8;
			  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
			  filter: alpha(opacity=80);
			}
			&.gu-hide {
			  display: none !important;
			}
			&.gu-unselectable {
			  -webkit-user-select: none !important;
			  -moz-user-select: none !important;
			  -ms-user-select: none !important;
			  user-select: none !important;
			}
			&.gu-transit {
			  opacity: 0.6;
			  background-color: $deepBlue;
			  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
			  filter: alpha(opacity=20);
			}
			&.deleting {
				background: $red !important;
				color: $white !important;
				&.active {
					background: $red !important;
				}
				td.utils i.datepicker-toggle.active {
					color: $white;
				}
			}
			&.item-enter {
				@include animation(bounceInLeft 400ms);
			}
			&.item-leave {
				@include animation(bounceOutLeft 400ms);
			}
			td,
			th {
				padding: 0.5rem;
			}
			th {
				width: 3rem;
			}
			td.task-cell {
				input.rename {
					line-height: 1.4rem;
					font-size: inherit;
					width: 100%;
					background: transparent;
					border: none;
					border-bottom: 2px solid $oceanBlue;
					@include selection(true) {
						background-color: $deepBlue;
						color: $white;
					}
				}
			}
			i {
				cursor: pointer;
				font-size: 1.4rem !important;
				padding: 0.2rem;
				@include media(min-width $medium) {
					font-size: 1.2rem !important;
				}
			}
			td.utils {
				width: 9.3rem;
				@include media(min-width $medium) {
					width: 8.7rem;
				}

				.sort {
					padding: 0 8px 0 8px;
				}
				.datepicker-toggle.active {
					color: $orchid;
				}
				.datepicker-input {
					background: transparent;
					color: transparent;
					border: none;
					box-shadow: none;
					width: 1px;
					height: 1px;
				}
			}
		}
	}
	&#task-list {
		display: table !important;
		position: relative;
		margin-top: 1rem;
		@include fill-parent;
		@include media(min-width $medium) {
			@include span-columns(8 of 14);
			@include shift(3 of 14);
		}
	}
	&#lists-list {
		font-size: 1.4rem;
		@include fill-parent;
		tbody th {
			display: none;
		}
		tbody tr.current {
			background: $deepBlue;
		}
		tbody tr:hover:not(.current) {
			background: inherit;
		}
		td.utils {
			width: 6.8rem;
			@include media(min-width $medium) {
				width: 6.6rem;
			}
		}
	}
}