#menu {
	height: 100%;
	width: 250px;
	top: 0;
	left: 0;
	position: fixed;
	background: $orchid;
	z-index: 3;
	left: -250px;
	color: $white;
	padding: 3.1rem 0 2rem 0;
	@include single-transition(all, 200ms, ease-out);
	@include susy-breakpoint($medlarge) {
		padding: 4.7rem 0 2rem 0;
	}
}

#menu.toggled {
	left: 0;
}

#dark-mode {
	position: absolute;
	font-size: 1.2rem;
	width: 1.2rem;
	cursor: pointer;
	//margin-right: 0.5rem;
	top: 10px;
	left: 220px;
}

#list-headline {
	font-family: $cardo;
	font-size: 2rem;
}

#create-list {
	width: 80%;
	line-height: 2rem;
	font-size: 1.4rem;
}

#list-button {
	background: $deepBlue;
	@include button-effect($deepBlue, 2px, 0);
}

#lists-list {
	font-size: 1.4rem;
	width: 100%;
	tbody th {
		display: none;
	}
	tbody tr.current {
		background: $deepBlue;
	}
	td.utils {
		width:6.3rem;
		@include susy-breakpoint($medium) {
			width: 5.5rem;
		}
	}
}

#logout {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-size: 1rem;
	font-family: $josefin;
	padding: 11px 4px 0px 8px;
	width: 100px;
	cursor: pointer;
	text-transform: lowercase;
	height: 2.5rem;
	border-radius: 20px;
	background-color: $red;
	color: $white;
	&:hover {
		@include background(linear-gradient(($red * 0.9), $red));
	}
	&:active {
		background: $red * 0.9;
	}
	i {
		margin-right: 1rem;
	}
	label {
		cursor: pointer;
	}
}
