#menu {
	height: 100%;
	width: 250px;
	top: 0;
	left: 0;
	position: fixed;
	background: $orchid;
	z-index: 3;
	left: -250px;
	color: $white;
	padding: 3.1rem 0 2rem 0;
	@include single-transition(all, 200ms, ease-out);
	@include susy-breakpoint($medlarge) {
		padding: 4.7rem 0 2rem 0;
	}
}

#menu.toggled {
	left: 0;
}

#list-headline {
	font-family: $cardo;
	font-size: 2rem;
}

#create-list {
	width: 80%;
	line-height: 2rem;
	font-size: 1.4rem;
}

#list-button {
	background: $deepBlue;
	@include button-effect($deepBlue, 2px, 0);
}

#lists-list {
	font-size: 1.4rem;
	width: 100%;
	tbody th {
		display: none;
	}
	tbody tr.current {
		background: $deepBlue;
	}
}
