.modal {
	color: $black;
	height: auto;
	width: 100%;
	max-width: 768px;
	position: absolute;
	left: 0;
	right: 0;
	top: 5%;
	z-index: 5;
	border: 10px solid $white;
	background: $white;
	box-shadow: rgba(0, 0, 0, 0.30) 0 19px 60px, rgba(0, 0, 0, 0.22) 0 15px 20px;
	border-radius: 15px;
	@include outer-container;
	@include center;
	@include media(min-width $medium) {
		width: 50%;
		top: 10%;
	}
	&.modal-enter {
		@include animation(bounceInDown 500ms);
	}
	&.modal-leave-active {
		@include animation(bounceOutUp 750ms);
	}
	&.invalid {
		@include animation(rubberBand 500ms);
	}
	&.ng-scope {
		display: block;
	}
	.modal-header {
		background: $deepBlue;
		color: $white;
		height: 80px;
		font-family: $josefin;
		@include border-top-radius(15px);
		@include media(min-width $medium) {
			height: 50px;
		}
		h1 {
			font-size: 4rem;
			text-transform: lowercase;
			padding: 17px;
			@include media(min-width $medium) {
				font-size: 2.4rem;
				padding: 10px;
			}
		}
	}
	.modal-body {
		padding: 30px;
		.greeting {
			margin-bottom: 1rem;
			line-height: 1.4rem;
			@include media(min-width $medium) {
				line-height: 2rem;
			}
		}
		form {
			@include outer-container;
			@include media(min-width $medium) {
				margin-top: 2rem;
			}
			span {
				display: block;
				text-align: left;
				font-size: 0.8rem;
				margin-left: 0;
			}
			.prompt-line {
				@include span-columns(12 of 12);
				@include media(min-width $medium) {
					@include span-columns(8 of 12);
					@include shift(2 of 12);
				}
			}
		}
		#remember, 
		#forgot-password, 
		.error-text {
			text-align: left;
			font-size: 0.8rem;
			padding-left: 0.5rem;
			@include span-columns(12 of 12);
			@include media(min-width $medium) {
				margin-top: 0.5rem;
				@include span-columns(8 of 12);
				@include shift(2 of 12);				
			}
		}
		#remember, 
		#forgot-password {
			margin-top: 1rem;
			@include media(min-width $medium) {
				margin-top: 0.5rem;
			}
			button {
				margin-right: 1rem;
				&:focus {
					color: $deepBlue;
				}
			}
		}
		button {
			padding: 1px 3px 4px 5px
		}
		.button-container {
			@include span-columns(12 of 12);
			position: relative;
		}
		.button {
			margin-top: 2rem;
			padding-top: 3px;
			width: 60px;
			@include center;
			@include media(min-width $medium) {
				width: 100px;
			}
		}
		#try-it {
			font-family: $raleway;
			font-size: 0.8rem;
			display: inline-block;
			position: absolute;
			bottom: 2px;
			margin-left: 1rem;
		}
		#try-it-button {
			text-transform: lowercase;
			font-size: 1rem;
			padding: 0.5rem;
			border-radius: 4px;
			@include transition(all 100ms ease-out);
			&:hover,
			&:focus {
				color: $white;
				background-color: $deepBlue;
			}
			&:active {
				color: $white;
				background-color: $deepBlue * 0.8;
				@include transition(unset);
			}
		}
	}
}

.mask {
	@extend html;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 4;
	position: fixed;
	&.mask-enter {
		@include animation(fadeIn 300ms);
	}
	&.mask-leave-active {
		@include animation(fadeOut 750ms);
	}
}

