.modal {
	height: auto;
	width: 100%;
	max-width: 100%;
	position: absolute;
	@include border-radius(15px);
	border: 10px solid $white;
	background: $white;
	@include susy-breakpoint($medium) {
		width: 50%;
	}
	.modal-header {
		background: $deepBlue;
		color: $white;
		height: 80px;
		font-family: $josefin;
		@include border-radius(15px 15px 0 0);
		@include susy-breakpoint($medium) {
			height: 50px;
		}
		h1 {
			font-size: 4rem;
			text-transform: lowercase;
			padding: 17px;
			@include susy-breakpoint($medium) {
				font-size: 2.4rem;
				padding: 10px;
			}
		}
	}
	.modal-body {
		padding: 30px;
		.fine-print {
			font-size: 1rem;
			display: none;
			@include susy-breakpoint($medium) {
				font-size: 0.8rem;
			}
		}
	}
}

#key-modal {
	top: -1000px;
	z-index: 3;
}

#mask {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 3;
	position: absolute;
	cursor: pointer;
}