/* ---------- Color Palette ---------- */

$astroTurf: #00EE76;
$azure: #C1CDCD;
$black: #000;
$brightDark: #87CEFA;
$brightLight: #C1F0F6;
$completeGray: #919191;
$deepBlue: #00B0FF;
$dimGray: #696969;
$grassStain: #48A85C;
$gray: #A3A3A3;
$nightDark: #353459;
$nightLight: #8A63D4;
$oceanBlue: #1C94C4;
$orchid: #DA70D6;
$rust: #CB8421;
$slateGray: #708090;
$sunglow: #FFCC33;
$sunray: #E3A857;
$sunsetOrange: #FD5E53;
$white: #FFF;

/* ---------- Fonts ---------- */

$josefin: "Josefin Sans", sans-serif;
$cardo: "Cardo", serif;
$raleway: "Raleway", sans-serif;

/* ---------- Neat Settings ---------- */

$small: 480px;
$medsmall: 650px;
$medium: 768px;
$medlarge: 1000px;
$large: 1200px;

/* ---------- Mixins ---------- */

@mixin center {
	margin-left: auto;
	margin-right: auto;
}

@mixin text-effect($color) {
	text-shadow: 2px 2px 0 $color * 0.8;
	&:hover {
		top: 7px;
		left: 14px;
		text-shadow: 4px 4px 0 $color * 0.8;
	}
	&:active {
		top: 0.6rem !important;
		left: 1rem !important;
		text-shadow: 2px 2px 0 $color * 0.8;
	}
}

@mixin button-effect($color, $bottomHover, $bottomActive) {
	box-shadow: 0 4px 0 $color * 0.8;
	&:hover,
	&:focus {
		bottom: $bottomHover;
		box-shadow: 0 (4px + $bottomHover) 0 $color * 0.8;
	}
	&:active {
		bottom: $bottomActive;
		box-shadow: 0 4px 0 $color * 0.8;
	}
}
