/* ---------- Compass Defaults ---------- */
/* ---------- Color Palette ---------- */

$white: #FFF;
$black: #000;
$gray: #A3A3A3;
$hotPink: #FA85FF;
$skyBlue: #68E2F2;
$banana: #EDEC7E;
$tennisGreen: #63E87F;
$lovelyOrange: #FFAD87;
$red: #E84D49;
$orchid: #DA70D6;
$mustard: #D6CA67;
$deepBlue: #00B0FF;
/* ---------- Fonts ---------- */

$josefin: "Josefin Sans",
sans-serif;
$merriweather: "Merriweather",
serif;
$lora: "Lora",
serif;
/* ---------- Susy Settings ---------- */

$susy: (columns: 12,
gutters: 0.25,
column-width: 4em);
@include border-box-sizing;
$small: 480px;
$medsmall: 650px;
$medium: 768px;
$medlarge: 1100px;
$large: 1200px;