/* ---------- Compass Defaults ---------- */
/* ---------- Color Palette ---------- */

$white: #FFF;
$black: #000;
$gray: #A3A3A3;
$azure: #C1CDCD;
$red: #E84D49;
$orchid: #DA70D6;
$deepBlue: #00B0FF;
$nightDark: #353459;
$nightLight: #8A63D4;
$brightDark: #51B4D3;
$brightLight: #E4F3F6;
/* ---------- Fonts ---------- */

$josefin: "Josefin Sans", sans-serif;
$cardo: "Cardo", serif;
$raleway: "Raleway", sans-serif;
/* ---------- Susy Settings ---------- */

$susy: (
	columns: 12,
	gutters: 0.25,
	column-width: 4em
);
@include border-box-sizing;
$small: 480px;
$medsmall: 650px;
$medium: 768px;
$medlarge: 1000px;
$large: 1200px;

/* ---------- Mixins ---------- */

@mixin center {
	margin-left: auto;
	margin-right: auto;
}

@mixin text-effect($color) {
	@include single-text-shadow(2px, 2px, 0, null, $color * 0.8);
	&:hover {
		top: 7px;
		left: 14px;
		@include single-text-shadow(4px, 4px, 0, null, $color * 0.8);
	}
	&:active {
		top: 0.6rem !important;
		left: 1rem !important;
		@include single-text-shadow(2px, 2px, 0, null, $color * 0.8);
	}
}

@mixin button-effect($color, $bottomHover, $bottomActive) {
	@include single-box-shadow(2px, 2px, 0, null, $color * 0.8);
	&:hover {
		bottom: $bottomHover;
		left: -2px;
		@include single-box-shadow(4px, 4px, 0, null, $color * 0.8);
	}
	&:active {
		bottom: $bottomActive;
		left: 0;
		@include single-box-shadow(2px, 2px, 0, null, $color * 0.8);
	}
}
