@import "variables";

html,
body {
	width: 100%;
	height: 100%;
}

.hidden {
	display: none !important;
}

// Dragula styles
.gu-draggable {
	box-shadow: rgba(0, 0, 0, 0.3) 0 10px 30px, rgba(0, 0, 0, 0.22) 0 5px 10px;
  opacity: 0.8;
	&:not(.active) {
  	background-color: $deepBlue * 0.8 !important;
	  color: $white !important;
  }
}
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  @include user-select(none !important);
}
.gu-transit {
  opacity: 0.2;
}

input[type='text'],
input[type='password'] {
	outline: none;
	font-family: $raleway;
	color: inherit;
	font-size: 1.4rem;
	line-height: 1.8rem;
	@media screen and (min-width: $medium) {
		font-size: 2rem;
		line-height: 2.4rem;
	}
}

input[type='checkbox'] {
	left: -10000px;
	position: absolute;
}

h1 {
	font-size: 2.5rem;
	line-height: 3rem;
	margin-bottom: 0.5rem;
}

h2 {
	font-size: 1.8rem;
	line-height: 2rem;
	margin-bottom: 0.5rem;
}

button {
  border: none;
  outline: none;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  padding: 0;
}

button::-moz-focus-inner { 
  border: 0;
  padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
	&:focus,
	&:visited,
	&:active {
		text-decoration: none;
		color: inherit;
	}
}
