#menu {
	height: 100%;
	width: 250px;
	top: 0;
	left: 0;
	position: fixed;
	background: $orchid;
	z-index: 10000;
	left: -250px;
	visibility: hidden;
	color: $white;
	padding: 0 0 2rem 0;
	overflow-y: scroll;
	@include transition(all 200ms ease-out);
	@include outer-container;
}

#menu.toggled {
	left: 0;
	visibility: visible;
	box-shadow: rgba(0, 0, 0, 0.30) 9px 0 70px, rgba(0, 0, 0, 0.22) 5px 0 30px;
	#logout-container {
		left: 0;
	}
}

#menu-tools {
	@include fill-parent();
	@include row();
	color: $white;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	@include media(min-width $medlarge) {
		margin-bottom: 2rem;
	}
}

#wiki-container {
	@include span-columns(1 of 3);
	padding: 0.5rem;
}

#repo-container {
	@include span-columns(1 of 3);
	padding: 0.5rem;
}

#darkmode-container {
	@include omega;
	@include span-columns(1 of 3);
	padding: 0.5rem;
}

#list-headline {
	font-family: $cardo;
	font-size: 2rem;
	@include span-columns(14 of 14);
}

#list-line {
	margin-bottom: 1.5rem;
	@include span-columns(12 of 14);
	@include shift(1 of 14)
}

#create-list {
	width: 80%;
	line-height: 2rem;
	font-size: 1.4rem;
	border-color: $dimGray * 1.8; 
	@include placeholder {
		color: $dimGray * 1.8;
	}
	&:focus {
		border-color: $deepBlue;
	}
}

#list-button {
	background: $deepBlue;
	@include button-effect($deepBlue, 3px, -3px);
}

#logout-container {
  position: fixed;
  bottom: 0;
  width: 250px;
  height: 5rem;
  padding: 1rem;
  background: $orchid;
  left: -250px;
  @include transition(all 200ms ease-out);
}
#logout {
	margin-left: auto;
	margin-right: auto;
	font-size: 1rem;
	font-family: $josefin;
	padding: 2px 4px 2px 8px;
	width: 100px;
	cursor: pointer;
	text-transform: lowercase;
	height: 2.5rem;
	border-radius: 20px;
	background-color: $sunsetOrange;
	color: $white;
	border: 1px solid #bdbdbd;
	&:hover {
		@include background(linear-gradient(($sunsetOrange * 0.9), $sunsetOrange));
	}
	&:active {
		background: $sunsetOrange * 0.9;
	}
	i {
		margin-right: 1rem;
	}
	label {
		cursor: pointer;
	}
}