@import "bourbon";
@import "neat";
@import "variables";

@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin text-effect($color) {
  text-shadow: 2px 2px 0 $color * 0.8;
  &:hover {
    top: 7px;
    left: 14px;
    text-shadow: 4px 4px 0 $color * 0.8;
  }
  &:active {
    top: 0.6rem !important;
    left: 1rem !important;
    text-shadow: 2px 2px 0 $color * 0.8;
  }
}

@mixin button-effect($color, $bottomHover, $bottomActive) {
  box-shadow: 0 4px 0 $color * 0.8;
  &:hover,
  &:focus {
    bottom: $bottomHover;
    box-shadow: 0 (4px + $bottomHover) 0 $color * 0.8;
  }
  &:active {
    bottom: $bottomActive;
    box-shadow: none;
  }
}

@mixin modal-small-text {
  text-align: left;
  font-size: 0.8rem;
  padding-left: 0.5rem;
  @include span-columns(12 of 12);
  @media screen and (min-width: $medium) {
    margin-top: 0.5rem;
    @include span-columns(8 of 12);
    @include shift(2 of 12);        
  }
}

@mixin table {
  display: table;
  margin-top: 1rem;
  text-align: left;
  word-wrap: break-word;
  @include center;
  .table-body {
    @include outer-container;
  }
  .table-row {
    @include row();
    transition: unset;
    i {
      margin-left: 0.1rem;
      margin-right: 0.1rem;
      font-size: 1.2rem;
      @media screen and (min-width: $small) {
        font-size: inherit;
      }
    }
    &.complete {
      color: $completeGray;
      background: transparent;
      font-style: italic;
      .table-data.utils .details-button.active {
        color: $completeGray;
      }
    }
    &.active {
      background-color: $astroTurf;
      color: $black;
      &.complete {
        background-color: $grassStain;
        color: $completeGray * 0.7;
        .table-data.utils .details-button.active {
          color: $orchid * 0.7;
        }
        .table-data.utils .details-button.active.overdue {
          color: $sunsetOrange * 0.7;
        }
      }
    }
    &.deleting {
      background: $sunsetOrange !important;
      color: $white !important;
      &.active {
        background: $sunsetOrange !important;
      }
      .utils .details-button.active {
        color: $white !important;
      }
    }
    @media screen and (min-width: $medium) {
      &:hover:not(.complete):not(.active) {
        background-color: $deepBlue;
        color: $white;
      }
    }
  }
  .table-data,
  .table-header {
    padding: 0.5rem;
  }
  .table-header {
    width: 3rem;
    text-align: center;
    @include span-columns(2 of 21);
  }
  .table-data.task-cell {
    word-wrap: break-word;
    @include span-columns(15 of 21);
    @media screen and (min-width: $small) {
      @include span-columns(16 of 21);
    }
    @media screen and (min-width: $medsmall) {
      @include span-columns(17 of 21);
    }
    button {
      font-family: inherit;
      font-style: inherit;
      width: 100%;
      text-align: left;
      vertical-align: middle;
    }
  }
  .table-data.utils {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    @include omega();
    @include span-columns(4 of 21)
    @media screen and (min-width: $small) {
      @include span-columns(3 of 21);
    }
    @media screen and (min-width: $medsmall) {
      @include span-columns(2 of 21);
    }
    .sort-button {
      padding: 0 5px 0 5px;
    }
    .details-button.active {
      color: $orchid;
    }
    .details-button.overdue {
      color: $sunsetOrange;
    }
  }
}

@mixin modal {
  color: $black;
  height: auto;
  width: 100%;
  max-width: 768px;
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  z-index: 5;
  border: 10px solid $white;
  background: $white;
  box-shadow: rgba(0, 0, 0, 0.30) 0 19px 60px, rgba(0, 0, 0, 0.22) 0 15px 20px;
  border-radius: 15px;
  @include outer-container;
  @include center;
  @media screen and (min-width: $medium) {
    width: 50%;
    top: 10%;
  }
  &.modal-enter-active {
    animation: bounceInDown 500ms;
  }
  &.modal-leave-active {
    animation: bounceOutUp 750ms;
  }
  &.invalid {
    animation: rubberBand 500ms;
  }
  &.ng-scope {
    display: block;
  }
  .modal-header {
    background: $deepBlue;
    color: $white;
    height: 80px;
    font-family: $josefin;
    @include border-top-radius(15px);
    @media screen and (min-width: $medium) {
      height: 50px;
    }
    h1 {
      font-size: 4rem;
      text-transform: lowercase;
      padding: 17px;
      @media screen and (min-width: $medium) {
        font-size: 2.4rem;
        padding: 10px;
      }
    }
  }
  .modal-body {
    padding: 30px;
    .greeting {
      margin-bottom: 1rem;
      line-height: 1.4rem;
      @media screen and (min-width: $medium) {
        line-height: 2rem;
      }
    }
    form {
      @include outer-container;
      @media screen and (min-width: $medium) {
        margin-top: 2rem;
      }
      span {
        display: block;
        text-align: left;
        font-size: 0.8rem;
        margin-left: 0;
      }
      .prompt-line {
        @include span-columns(12 of 12);
        @media screen and (min-width: $medium) {
          @include span-columns(8 of 12);
          @include shift(2 of 12);
        }
      }
    }
    button {
      padding: 1px 3px 4px 5px
    }
    .button-container {
      @include span-columns(12 of 12);
      position: relative;
    }
    .button {
      margin-top: 2rem;
      padding-top: 3px;
      width: 60px;
      @include center;
      @media screen and (min-width: $medium) {
        width: 100px;
      }
    }
  }
}

@mixin mask {
  @extend html;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 4;
  position: fixed;
  &.mask-enter-active {
    animation: fadeIn 300ms;
  }
  &.mask-leave-active {
    animation: fadeOut 750ms;
  }
}

@mixin prompt-line {
  white-space: nowrap;
  text-align: right;
  margin-bottom: 1rem;
  @include center;
  @media screen and (min-width: $small) {
    text-align: center;
  }
  .prompt {
    width: 100%;
    padding: 1px 0.5rem;
    border: none;
    border-radius: 0;
    border-bottom: 4px solid $slateGray;
    background: transparent;
    &::placeholder {
      color: $slateGray;
    }
    &::selection {
      background: $deepBlue;
      color: $white;
    }
    transition: border-color 500ms ease-out;
    &.ng-invalid.tried,
    &.invalid {
      border-color: $sunsetOrange !important;
      animation: rubberBand 500ms;
    }
    &.disabled {
      background-color: $azure;
    }
    &:focus {
      border-color: $deepBlue;
    }
  }
  button.submit {
    font-size: 1.8rem;
    width: 2.4rem;
    position: relative;
    margin-left: 0.5rem;
    cursor: pointer;
    color: $white;
    background: $orchid;
    border-radius: 50%;
    padding: 1px 3px 3px 4px;
    border: none;
    outline: none;
    @include button-effect($orchid, 3px, -3px);
  }
}

@mixin button {
  background: $orchid;
  color: $white;
  font-family: $josefin;
  font-size: 2rem;
  text-transform: lowercase;
  position: relative;
  width: 100px;
  height: 2.5rem;
  padding: 0 4px 0 7px;
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 20px;
  @include center;
  @include button-effect($orchid, 3px, -3px);
}